<main>
  <header class="header">
    <div class="container">
      <h1 class="header__title">
        <%= __('archive.archive') %>
        <% if (page.year != null && page.month != null) { %>
        — <%= page.month %>/<%= page.year %>
        <% } else if (page.year != null) { %>
        — <%= page.year %>
        <% } %>
      </h1>
    </div>
  </header>
  <section>
    <div class="container">
      <ul class="postlist">
        <% page.posts.forEach(function (post) { %>
          <li class="postlist__item">
            <%- partial('_partial/post-preview', {post: post}) %>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
  <div class="container">
    <%- partial('_partial/pagination', {page: page}) %>
  </div>
</main>
