<!doctype html>
<html amp lang="<%= config.language %>">
  <head>
    <meta charset="utf-8">
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="<%= url %>" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <%- partial('_partial/head') %>
    <%- partial('_partial/style') %>
    <link rel="icon" type="image/x-icon" href="<%= config.url %>/favicon.ico" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  </head>
  <body>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>
  </body>

  <% if (site.data.meta.googleAnalytics.id != null) { %>
  <amp-analytics type="googleanalytics" id="analytics">
  <script type="application/json">
  {
    "vars": {
      "account": "<%= site.data.meta.googleAnalytics.id %>"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
      }
    }
  }
  </script>
  </amp-analytics>

  <% } %>


</html>
