<main>
  <article class="post">
    <header>
      <div class="post__header">
        <div class="post__cover">
          <div class="container">
            <h1 class="post__title"><%= page.title %></h1>
          </div>
        </div>
      </div>
    </header>

    <section class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 post__content">
          <%- page.content %>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <section class="social">
          <% if (page.cover.src != null || page.cover.title != null) { %>
          <p>
            <%= __('site.image') %>:
            <a class="social-a" rel="nofollow" href="<%= (page.cover.src || '#') %>">
              <%= (page.cover.title || 'Imagem') %>
            </a>
          </p>
          <% } %>
          <p>
            <%= __( 'social.share' ) %>:
            <%- partial('_partial/social--twitter', {url: url, title: page.title}) %>
            <%- partial('_partial/social--facebook', {url: url}) %>
          </p>
        </section>
      </div>
    </footer>

  </article>
</main>
